#header {
  background-color: #fff;
  border-bottom: 1px solid #a0a0a04d;
  display: flex;
  height: 56px;
  justify-content: space-between;
  left: 0;
  line-height: 56px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;

  .index-link {
    color: #3c3b3b;
    font-weight: 800;
    letter-spacing: 4px;
    line-height: 1.65;
    margin: 0 0 16px;
    text-transform: uppercase;
    line-height: inherit;
    padding: 0 0 0 24px;
    white-space: nowrap;
  }

  .links {
    border-left: 1px solid #a0a0a04d;
    -moz-flex: 1;
    flex: 1 1;
    height: inherit;
    line-height: inherit;
    margin-left: 24px;
    overflow: hidden;
    padding-left: 24px;

    li {
      border-left: 1px solid #a0a0a04d;
      line-height: 1;
      margin-left: 16px;
      padding-left: 16px;
      display: inline-block;

      &:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
      }

      a {
        border-bottom: 0;
        font-family: Raleway, Helvetica, sans-serif;
        font-size: 11.5px;
        font-weight: 400;
        letter-spacing: 4px;
        text-transform: uppercase;
      }
    }
  }
}

.header-main {
  h2 {
    font-size: 1.5em;
    font-weight: 900;
    color: #3c3b3b;
    font-family: Raleway, Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: .25em;
    line-height: 1.65;
    margin: 0 0 1em;
    text-transform: uppercase;
  }

  p {
    font-family: Raleway, Helvetica, sans-serif;
    font-size: .7em;
    font-weight: 400;
    letter-spacing: .25em;
    line-height: 2.5;
    margin-top: -1em;
    text-transform: uppercase;
  }
}